.button {
    display: inline-flex;
    position: relative;
    top: 10px;
    align-items: center;
    padding: 10px 20px;
    width: 210px;
    height: 65px;
    left: 10px;
    margin-left: -100px;
    background-color: red;
    background-image: linear-gradient(rgb(0, 195, 255), rgb(0, 47, 255), rgb(21, 0, 255));
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button img {
    margin-right: 10px; /* Jarak antara gambar dan teks */
    width: 40px; /* Ukuran gambar */
    height: 40px;
}

.button:hover {
    background-image: linear-gradient(rgb(0, 251, 255), rgb(0, 123, 255), rgb(0, 68, 255));
}
.button:active {
    transform: scale(0.95);
}
.button1 {
    display: inline-flex;
    position: relative;
    top: 200px;
    align-items: center;
    padding: 10px 30px;
    left: -325px;
    background-color: red;
    background-image: linear-gradient(rgb(0, 195, 255), rgb(0, 47, 255), rgb(21, 0, 255));
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button1 img {
    margin-right: 10px; /* Jarak antara gambar dan teks */
    width: 40px; /* Ukuran gambar */
    height: 40px;
}

.button1:hover {
    background-image: linear-gradient(rgb(0, 251, 255), rgb(0, 123, 255), rgb(0, 68, 255));
}
.button1:active {
    transform: scale(0.95);
}